@import "shared/common";

// Theme configuation
@theme-red: #CE352C;
@theme-blue: #1BA1E2;
@theme-green: #60A917;
@theme-orange: #FA6800;

@theme-text-color: #505050;
@theme-text-color-subtle: #AFAFAF;
@theme-text-color-accent: #FFF;
@theme-text-color-highlight: #505050;

@theme-base: #FFF;
@theme-cursor: #505050;

// Core variables as required by Atom
@text-color: @theme-text-color;
@text-color-subtle: @theme-text-color-subtle;
@text-color-selected: @theme-text-color-accent;
@text-color-highlight: @theme-text-color-highlight;

@text-color-error: @theme-red;
@text-color-info: @theme-blue;
@text-color-success: @theme-green;
@text-color-warning: @theme-orange;

@text-color-removed: @theme-red;
@text-color-renamed: @theme-blue;
@text-color-added: @theme-green;
@text-color-modified: @theme-orange;
@text-color-ignored: @theme-text-color-subtle;

@background-color-error: @theme-red;
@background-color-info: @theme-blue;
@background-color-success: @theme-green;
@background-color-warning: @theme-orange;
@background-color-selected: @theme-accent-color;
@background-color-highlight: darken(@theme-base, 15%);

@app-background-color: @theme-base;
@base-background-color: @theme-base;
@pane-item-background-color: @theme-base;

@scrollbar-background-color: darken(@theme-base, 5%);

@tool-panel-background-color: darken(@theme-base, 6.75%);
@inset-panel-background-color: darken(@tool-panel-background-color, 6.75%);
@panel-heading-background-color: darken(@inset-panel-background-color, 12%);
@overlay-background-color: darken(@theme-base, 4.75%);
@overlay-border-color: darken(@overlay-background-color, 10%);

@tree-view-background-color: darken(@theme-base, 2.75%);
@status-bar-background-color: darken(@theme-base, 12.75%);
@tool-bar-background-color: darken(@theme-base, 12.75%);

@gutter-background-color: @theme-base;
@gutter-text-color: lighten(@theme-text-color-subtle, 8%);

@tab-bar-background-color: @theme-accent-color;
@tab-background-color: @theme-accent-color;
@tab-background-color-hover: darken(@tab-background-color, 3%);
@tab-background-color-active: lighten(@tab-background-color, 7.5%);
@tab-text-color: @theme-text-color-accent;

@cursor-color: @theme-cursor;
@input-background-color: @theme-base;
@input-border-color: darken(@input-background-color, 31.50%);
@input-border-color-hover: darken(@input-border-color, 25%);
@progress-bar-color: @theme-accent-color;
@progress-bar-background-color: darken(@theme-base, 16.75%);
@button-background-color: darken(@theme-base, 20%);
@button-background-color-selected: @theme-accent-color;
@button-border-color: darken(@button-background-color, 32%);

@tooltip-background-color: @theme-accent-color;
@tooltip-text-color: @theme-text-color-accent;
@badge-background-color: @theme-accent-color;
@badge-text-color: @theme-text-color-accent;
