.list-group,
.list-tree {
  li:not(.list-nested-item),
  li.list-nested-item > .list-item {
    color: @text-color;
    line-height: 2.0rem;
  }

  li:not(.list-nested-item).selected,
  li.list-nested-item.selected > .list-item {
    color: @text-color-inversed;
    .icon:before {
      color: @text-color-inversed;
    }
  }

  .selected:before {
    height: 2.0rem;
  }
}

.select-list {
  .selected:before {
    display: none;
  }

  .mark-active {
    li.active:after {
      position: relative;
      top: 4px;
      content: '\f03a';
      float: right;
      .icon(16px);
    }

    li:not(.selected):after {
      color: @text-color-success;
    }
  }

  &.popover-list {
    background: @popover-list-background-color;
    border: 1px solid @popover-list-border-color;
    border-radius: @component-border-radius;
    padding: .6rem;

    .editor {
      margin-bottom: @component-padding/2;
    }

    .list-group {
      li {
        padding: .2rem .4rem;
        &.selected {
          background: lighten(@theme-primary-color, 32.5%);
          color: @text-color;
          border: 1px solid @theme-border-color-hover;
        }
      }
    }
  }
}

// .list-tree.has-collapsable-children .list-nested-item > .list-item:before {
//   content: '';
//   border-bottom: 7px solid #202020;
//   border-left: 7px solid transparent;
//   padding: 0;
//   margin-right: 8px;
//   width: 0;
//   height: 0;
//   left: 1px;
// }
//
// .list-tree.has-collapsable-children .list-nested-item.collapsed > .list-item:before {
//   content: '';
//   height: 0;
//   width: 0;
//   padding: 0;
//   margin-right: 8px;
//   transform: rotate(-45deg);
//   left: 0;
// }
