.overlay {
  background: @overlay-background-color;

  &.select-list ol.list-group {
    li {
      border-top: 1px solid @overlay-item-border-color;
      border-left: 1px solid @overlay-item-border-color;
      border-right: 1px solid @overlay-item-border-color;
      padding: .6rem 1.0rem;

      &:last-child {
        border-bottom: 1px solid @overlay-item-border-color;
      }

      &:hover {
        .gradient(@overlay-item-background-color-hover, 2.75%);
      }

      .status.icon {
        float: right;
      }

      &.selected {
        background: @theme-selected-background-color;
        color: @text-color-inversed;
      }
    }

    li.two-lines {
      .secondary-line {
        color: darken(@text-color-subtle, 10.25%);

        &.no-icon {
          padding-left: 0;
        }
      }

      &.selected .secondary-line {
        color: lighten(@text-color-subtle, 7%);
      }
    }

    .gradient(@overlay-item-background-color, 2.75%);
  }

  .editor.mini {
    margin-bottom: .6rem
  }

  &.from-top {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
    border-left: 1px solid @overlay-border-color;
    border-right: 1px solid @overlay-border-color;
    border-bottom: 1px solid @overlay-border-color;
  }

  &.from-bottom {
    box-shadow: 0 -4px 15px 0 rgba(0, 0, 0, 0.35);
    border-top: 1px solid @overlay-border-color;
    border-left: 1px solid @overlay-border-color;
    border-right: 1px solid @overlay-border-color;
  }

  &.floating {
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.35);
    border: 1px solid @overlay-border-color;
  }
}
