@text-color: #444;
@text-color-subtle: #999;
@text-color-highlight: #000;
@text-color-highlight-tree: #FFF;
@text-color-selected: #FFF;

@text-color-info: #5293D8;
@text-color-success: #529B2F;
@text-color-warning: #FF982D;
@text-color-error: #C00;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: #475665;
@text-color-modified: darken(rgba(233, 138, 56, 1.0), 8);
@text-color-removed: @text-color-error;

@background-color-info: #0098FF;
@background-color-success: #17CA65;
@background-color-warning: #FF4800;
@background-color-error: #C00;
@background-color-highlight: rgba(0, 0, 0, .1);
@background-color-selected: #338EDA;

@app-background-color: #F0F0F0;
@base-background-color: #F4F4F4;
@base-border-color: #9F9F9F;

@pane-item-background-color: @base-background-color;
@pane-item-border-color: @base-border-color;

@input-background-color: #FFF;
@input-border-color: fadeout(#CCC, 10%);

@tool-panel-background-color: @base-background-color;
@tool-panel-border-color: #CCC;

@inset-panel-background-color: #FFF;
@inset-panel-border-color: fadeout(#CCC, 10%);

@panel-heading-background-color: #C3C3C3;
@panel-heading-border-color: transparent;

@overlay-background-color: #E0E0E0;
@overlay-border-color: #CCC;

@button-background-color: @base-background-color;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: #888;
@button-border-color: rgba(0, 0, 0, 0.15);

@tip-background-color: #338EDA;
@tip-text-color: #FFF;
@tip-keystroke-text-color: #ff8a8a;

@tab-bar-background-color: -webkit-linear-gradient(top, #EEE 0%, #DDD 100%);
@tab-bar-border-color: #CCC;
@tab-background-color: transparent;
@tab-background-color-hover: -webkit-linear-gradient(top, #F8F8F8 0%, #EEE 100%);
@tab-background-color-active: #FFF;
@tab-border-color: #CCC;

@tree-view-background-color: #FFF;
@tree-view-border-color: #EEE;

@status-bar-background-color: -webkit-linear-gradient(top, #E4E4E4 0%, #D3D3D3 100%);;
@status-bar-text-color: @text-color;

@ui-site-color-1: @background-color-success;
@ui-site-color-2: @background-color-info;
@ui-site-color-3: @background-color-warning;
@ui-site-color-4: #DB2FF4;
@ui-site-color-5: #F5E11D;

@font-size: 12px;
@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 0;

@tab-height: 30px;
@font-family: 'Segoe UI', 'Lucida Grande', sans-serif;
