* {
  box-sizing: border-box;
}

html {
  font-size: @font-size;
  .font-family;
}

atom-workspace {
	background-color: @app-background-color;
}

a {
  color: @theme-accent-color;

  &:hover {
    .contrast(color, @theme-accent-color, 8.5%);
    text-decoration: none;
  }
}
