@border-contrast: 15%;

.colored-btn (@color) {
  @selected-color: darken(@color, 8.5%);
  background-color: @color;
  color: @text-color-selected;

  &:hover {
    outline-color: darken(@color, @border-contrast);
  }

  &.selected,
  &.selected:hover {
    background-color: @selected-color;
  }

  &.selected:hover {
    outline-color: darken(@selected-color, @border-contrast);
  }

  &:active,
  &:active:focus,
  &.selected:active,
  &.selected:active:focus {
    &:extend(.btn:active);
    color: inherit;
  }

  &.icon {
    &:hover,
    &:before {
      color: @text-color-selected;
    }
  }
}

.btn-group > .btn {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-clip: padding-box; // use the default styling to create a fake margin
}

.btn-size(@size, @line-height, @padding, @font-size) {
  .btn.btn-@{size},
  .btn-group-@{size} > .btn {
    .rem(line-height, @line-height);
    .rem(padding, 0, @padding);
    .rem(font-size, @font-size);
  }
}

.btn-size(lg, 44px, 16px, 16px);
.btn-size(sm, 22px, 8px, 14px);
.btn-size(xs, 18px, 6px, 14px);

.btn {
  background-color: @button-background-color;
  color: @text-color;
  border-radius: @component-border-radius;
  font-size: 1.0rem;
  height: auto;
  .rem(line-height, 32px);
  .rem(padding, 0, 16px);

  &:hover {
    background-color: @button-background-color-hover;
    outline: 2px solid @button-border-color;
    outline-offset: -2px;
  }

  &:active {
    .contrast(background-color, @button-background-color, 25%);
    box-shadow: none;
  }

  &:focus,
  &:active:focus {
    outline: none; // reset
  }

  &.selected {
    background-color: @theme-accent-color;
    color: @text-color-selected;

    &:hover {
      background-color: @theme-accent-color; // reset
      outline-color: darken(@theme-accent-color, @border-contrast);
    }

    &:active {
      &:extend(.btn:active);
    }
  }

  &.btn-primary { .colored-btn(@theme-accent-color); }
  &.btn-info    { .colored-btn(@background-color-info); }
  &.btn-success { .colored-btn(@background-color-success); }
  &.btn-warning { .colored-btn(@background-color-warning); }
  &.btn-error   { .colored-btn(@background-color-error); }
}
