[metro-ui-show-gutter-styling="true"] {
  atom-text-editor,
  atom-text-editor::shadow {
    .gutter {
      background-color: @gutter-background-color;

      .line-number {
        color: @gutter-text-color;
        opacity: 1; // reset

        &.git-line-removed {
          &:before {
            color: @text-color-removed;
            border-left-color: @text-color-removed;
            border-width: 8px;
            margin-top: -8px;
            bottom: -8px;
            right: 0;
            left: initial;
            transform: rotate(-180deg);
            z-index: 1;
          }

          &:after {
            display: none; // reset
          }
        }

        &.git-line-modified,
        &.git-line-added {
          border-left: none;
          padding-left: 0.5em; // reset
        }

        &.git-line-modified {
          background-color: lighten(@text-color-modified, 35%);

          &,
          &:before {
            color: @text-color-modified;
          }
        }

        &.git-line-added {
          background-color: lighten(@text-color-added, 45%);

          &,
          &:before {
            color: @text-color-added;
          }
        }

        &.cursor-line {
          .contrast(background-color, @gutter-background-color, 12.5%);
          .contrast(color, @gutter-text-color, 8.5%);
        }

        &.cursor-line-no-selection {
          background-color: @gutter-background-color;
          color: @theme-accent-color;
        }
      }
    }
  }
}
