.settings-view {
  .setting-title {
    font-size: 1.0rem;
  }

  .setting-description {
    .rem(font-size, 14px);
  }

  input[type="checkbox"] {
    &:active,
    &:checked {
      background-color: @theme-accent-color;
    }
  }

  .config-menu {
    .contrast(background-color, @tree-view-background-color, 3.5%);
  }

  div > section.section {
    &,
    &:last-child,
    &:first-child{
      .rem(padding, @component-padding*2);
    }

    .sub-section-heading.icon:before {
      display: none;
    }

    &.settings-panel {
      border-top: none;

      .section-body {
        padding: @component-padding;
      }
    }
  }

  .section .section-heading {
    &:extend(h1);
    &.icon:before {
      font-size: inherit;
      width: auto;
      height: auto;
      padding-right: @component-icon-padding;
    }
  }

  .panels {
    & > div:not(.package-detail) {
      .package-card .btn {
        background-color: transparent;
        max-width: @component-icon-size; // shrink to hide text

        &:hover:before {
          color: @theme-accent-color;
        }
      }
    }
  }

  .package-card {
    font-size: 1.0rem;
    padding: 1.0rem;
    border: none;
    border-radius: @component-border-radius;

    &:hover {
      .contrast(background-color, @pane-item-background-color, 5%);
    }

    .meta-user .avatar {
      width: 34px;
      height: 34px;
    }

    .card-name {
      line-height: 1;
      font-weight: 600;
    }
  }

  .link {
    &:extend(a);
  }

  .package-readme {
    font-size: 1.0rem
  }

  .package-detail-view {
    .btn.uninstall {
      &:extend(.btn.btn-primary);
    }
  }
}

.form-control,
.settings-view select.form-control {
  &:extend(select);
}
