.tooltip {
  font-size: 1.0rem;

  .keystroke {
    .rem(padding, 0, 6px);
    .rem(font-size, @font-size-medium);
    font-weight: 600;
  }

  &.in {
    opacity: 1;
    transition: opacity .15s ease-out;
  }

  .tooltip-inner {
    .rem(line-height, @tooltip-height);
    background-color: @tooltip-background-color;
    color: @tooltip-text-color;
    border-radius: @component-border-radius;
    max-width: none;
    white-space: nowrap;
  }

  &.top,
  &.top-left,
  &.top-right {
    .tooltip-arrow {
      border-top-color: @tooltip-background-color;
    }
  }

  &.bottom,
  &.bottom-left,
  &.bottom-right {
    .tooltip-arrow {
      border-bottom-color: @tooltip-background-color;
    }
  }

  &.left .tooltip-arrow {
    border-left-color: @tooltip-background-color;
  }

  &.right .tooltip-arrow {
    border-right-color: @tooltip-background-color;
  }
}
