@import (reference) "ui-mixins";
@import (reference) "syntax-variables";

@import "config";

@component-icon-padding: 4px;
@component-icon-size: 16px;
@component-border-radius: 0px;
@disclosure-arrow-size : 15px;

@tooltip-height: 28px;
@progress-bar-height: 6px;

@contrast-hover: 8.25%;
@contrast-active: 19.75%;
@contrast-scrollbar-thumb: 18.75%;
@contrast-scrollbar-hover: 38%;
@contrast-scrollbar-active: 57%;

@windows-font-family: "Segoe UI";
@darwin-font-family: "SF UI Text", "Helvetica Neue", "Lucida Grande";
@linux-font-family: "Ubuntu";

@font-size: 15px;
@font-size-large: 16px;
@font-size-medium: 14px;
@font-size-small: 13px;
@font-family: @windows-font-family, @darwin-font-family, @linux-font-family, sans-serif;
